/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
svg {
  width: 20%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 5px;
}

a {
  padding-left: 5px;
  padding-right: 5px;
  color: #2f8edb;
}

.main-header {
  font-size: 50px;
}

pre {
  display: grid;
}

.nav-link {
  font-size: larger;
  font-weight: bold;
  color: floralwhite;
}

body {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(251, 243, 227, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 85%,
    rgba(251, 243, 227, 1) 100%
  );
}

header {
  transition: background 1s ease;
  background: linear-gradient(
    0deg,
    rgba(143, 178, 213, 1) 0%,
    rgba(201, 246, 208, 1) 53%,
    rgb(255, 255, 139) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}
header:hover {
  background: linear-gradient(
    0deg,
    rgba(143, 178, 213, 1) 0%,
    rgba(201, 246, 208, 1) 53%,
    rgb(48, 10, 138) 100%
  );
}

.rain:hover {
  background: url(/images/rain.png);
  animation: rain 0.2s ease-in-out infinite;
}

rain:before {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  background: #fff;
  opacity: 0;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 5% 30%;
  }
}

img {
  width: 65px;
  height: fit-content;
  margin: auto;
  margin-top: 1px;
}

.dec-image {
  transition: transform 1s ease;
  width: 25px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.celtic-image {
  transition: transform 1s ease;
  transform: none;
}

.celtic-image:hover {
  transform: rotate(360deg);
}

.dec-image:hover {
  transform: rotate(360deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sail-boat {
  width: 12vw;
  margin: 4vw;
  @media (max-width: 500px) {
    display: none;
  }
}
