<div class="row">
    <img src="/images/celtic/celtic2.png" alt="celtic symbol" class="dec-image">
    <h1>Music</h1>
    <img src="/images/celtic/celtic7.png" alt="celtic symbol" class="dec-image">
</div>
<p>You can find my latest releases and experiments here on soundcloud</p>
<a href="https://soundcloud.com/karangejo">Karangejo Music</a>
<div class="row">
    <img src="/images/boats/boat-1297134.png" alt="sailboat" class="sail-boat">
</div>

