<div class="row" style="margin-bottom: 10px;">
    <img src="/images/celtic/celtic13.png" alt="celtic symbol" class="celtic-image">
    <h1><%= @post.name %></h1>
    <img src="/images/celtic/celtic16.png" alt="celtic symbol" class="celtic-image">
</div>
<%= to_markdown(@post.content) %>
<div class="row">
    <img src="/images/boats/ship-309618.png" alt="sailboat" class="blog-boat">
</div>
<div class="row">&copy Karangejo</div>
